 /* main.css */

 /* unvisited link */
a:link {
    color: black;
}
/* visited link */
a:visited {
    color: black;
}
/* mouse over link */
a:hover {
    color: hotpink;
}
/* selected link */
a:active {
    color: black;
}
